<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>水果</string>
	</dict>
	<dict>
		<key>title</key>
		<string>肉蛋鱼菜</string>
	</dict>
	<dict>
		<key>title</key>
		<string>粮油调料</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒水饮料</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲零食</string>
	</dict>
</array>
</plist>
