<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>全部分类</string>
	</dict>
	<dict>
		<key>title</key>
		<string>进口水果</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国产水果</string>
	</dict>
	<dict>
		<key>title</key>
		<string>苹果梨子</string>
	</dict>
	<dict>
		<key>title</key>
		<string>桃杏枣莓</string>
	</dict>
</array>
</plist>
