<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goodsNum</key>
		<string>0</string>
		<key>guige</key>
		<string>100*10</string>
		<key>orderID</key>
		<string>14</string>
		<key>iconImage</key>
		<string>http://pic12.photophoto.cn/20090910/0005018303466977_b.jpg</string>
		<key>title</key>
		<string>德国进口黑牛奶</string>
		<key>oprice</key>
		<string>10.3</string>
		<key>price</key>
		<string>9.3</string>
	</dict>
	<dict>
		<key>goodsNum</key>
		<string>0</string>
		<key>guige</key>
		<string>100*10</string>
		<key>orderID</key>
		<string>12</string>
		<key>iconImage</key>
		<string>http://pic12.photophoto.cn/20090910/0005018303466977_b.jpg</string>
		<key>title</key>
		<string>德国进口黑牛奶</string>
		<key>oprice</key>
		<string>10.3</string>
		<key>price</key>
		<string>9.3</string>
	</dict>
	<dict>
		<key>goodsNum</key>
		<string>0</string>
		<key>guige</key>
		<string>100*10</string>
		<key>orderID</key>
		<string>13</string>
		<key>iconImage</key>
		<string>http://pic12.photophoto.cn/20090910/0005018303466977_b.jpg</string>
		<key>title</key>
		<string>德国进口黑牛奶</string>
		<key>oprice</key>
		<string>10.3</string>
		<key>price</key>
		<string>9.3</string>
	</dict>
</array>
</plist>
