<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>orderID</key>
		<string>9</string>
		<key>goodsNum</key>
		<string>0</string>
		<key>oprice</key>
		<string>11.5</string>
		<key>price</key>
		<string>9.5</string>
		<key>guige</key>
		<string>100*10</string>
		<key>title</key>
		<string>内蒙古呼和浩特特产吧啦吧啦</string>
		<key>iconImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1517401663173&amp;di=2832116814a4305b81e6f068ea3e3add&amp;imgtype=0&amp;src=http%3A%2F%2Fimage.game.uc.cn%2F2016%2F2%2F3%2F12137684.png</string>
	</dict>
	<dict>
		<key>orderID</key>
		<string>10</string>
		<key>goodsNum</key>
		<string>0</string>
		<key>oprice</key>
		<string>11.5</string>
		<key>price</key>
		<string>9.5</string>
		<key>guige</key>
		<string>100*10</string>
		<key>title</key>
		<string>内蒙古呼和浩特特产吧啦吧啦</string>
		<key>iconImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1517401663173&amp;di=2832116814a4305b81e6f068ea3e3add&amp;imgtype=0&amp;src=http%3A%2F%2Fimage.game.uc.cn%2F2016%2F2%2F3%2F12137684.png</string>
	</dict>
	<dict>
		<key>orderID</key>
		<string>8</string>
		<key>goodsNum</key>
		<string>0</string>
		<key>oprice</key>
		<string>11.5</string>
		<key>price</key>
		<string>9.5</string>
		<key>guige</key>
		<string>100*10</string>
		<key>title</key>
		<string>内蒙古呼和浩特特产吧啦吧啦</string>
		<key>iconImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1517401663173&amp;di=2832116814a4305b81e6f068ea3e3add&amp;imgtype=0&amp;src=http%3A%2F%2Fimage.game.uc.cn%2F2016%2F2%2F3%2F12137684.png</string>
	</dict>
	<dict>
		<key>goodsNum</key>
		<string>0</string>
		<key>guige</key>
		<string>100*10</string>
		<key>orderID</key>
		<string>7</string>
		<key>iconImage</key>
		<string>http://pic12.photophoto.cn/20090910/0005018303466977_b.jpg</string>
		<key>title</key>
		<string>德国进口黑牛奶</string>
		<key>oprice</key>
		<string>10.3</string>
		<key>price</key>
		<string>9.3</string>
	</dict>
	<dict>
		<key>orderID</key>
		<string>8</string>
		<key>goodsNum</key>
		<string>0</string>
		<key>oprice</key>
		<string>11.5</string>
		<key>price</key>
		<string>9.5</string>
		<key>guige</key>
		<string>100*10</string>
		<key>title</key>
		<string>内蒙古呼和浩特特产吧啦吧啦</string>
		<key>iconImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1517401663173&amp;di=2832116814a4305b81e6f068ea3e3add&amp;imgtype=0&amp;src=http%3A%2F%2Fimage.game.uc.cn%2F2016%2F2%2F3%2F12137684.png</string>
	</dict>
</array>
</plist>
